/.PortugolDescriptionLabelProvider.java._trace
/.PortugolDescriptionLabelProvider.xtendbin
/.PortugolLabelProvider.java._trace
/.PortugolLabelProvider.xtendbin
/PortugolDescriptionLabelProvider.java
/PortugolLabelProvider.java
