/.PortugolRuntimeModule.java._trace
/.PortugolRuntimeModule.xtendbin
/.PortugolStandaloneSetup.java._trace
/.PortugolStandaloneSetup.xtendbin
/PortugolRuntimeModule.java
/PortugolStandaloneSetup.java
